


<div class="page-header" id="banner">
        <div class="row">
         
            <h1>Welcome to TypingTest</h1>
            <p class="lead">This is just a demo of an idea that is available for ages (typing test) that I wanted to implement using current web technologies.</p>        
        </div>
</div>


<div >

<div class="row">
	<div class="bs-component">
		<h2>Measuring typing skill</h2>
	<p>
	Typing tests measure two things, speed and mistakes, so when you take our typing speed test, do not look only at your speed, look also at the number of your mistakes and concentrate on reducing your mistakes in future tests rather than increasing your typing speed. The end result will be increased productivity.
	</p>

	</div>
</div>

<div class="row">
	<div class="bs-component">
		<h2>
What does WPM mean?
</h2>

<p>
WPM means "Words per minute" and is based on this calculation: 5 keystrokes equal 1 WPM. 
</p>
</div>

</div>


<div class="row">
	<div class="bs-component">
		<h2> What is a keystrokes? </h2>
<p>
Every key you hit on the keyboard to type a letter is one keystroke. 
</p>

</div>
</div>

</div>